@(events: List[EventWatch])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(bsinput.f) }

@main("Events Registered") {
	<h1>Current Events</h1>
	    <h1>@events.size() events(s)</h1>
    <div class="hero-unit">
    <table class="table table-striped">
    	<tr>
    		<th>Event</th>
    		<th>Desc</th>
    		<th>Do What?</th>
    		<th></th>
    	</tr>
        @for(e <- events) {
        	<tr>
	            <td>@e.event</td>
	            <td>@e.desc</td>
	            <td><ul>
					@for(todo <- e.todos) {
					    <li>@todo.action.desc</li>
				    }
				</ul></td>
	            <td>@form(routes.Events.delete(e.id)) {
	            	<input class="btn btn-danger" type="submit" value="Delete" />
	            }</td>
            </tr>
        }
    </table>
    </div>
}
