@(events: List[EventReg], eventForm: Form[EventReg])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(bsinput.f) }

@main("Event Registration") {
	<h1>Event Registration</h1>
	@fieldsetform(action = routes.Events.newEvent()) {
		@inputText(eventForm("event"))
		@inputText(eventForm("desc"))
		@checkbox(eventForm("lackof"))
		
		<blockquote>
		<p>
Seconds
Minutes
Hours
Day-of-Month
Month
Day-of-Week
Year (optional field)
		</p>
		</blockquote>
		@inputText(eventForm("timing"))
		@inputText(eventForm("what"))
		<input class="btn btn-primary" type="submit" value="Create" />	
	}
}
