@(eventForm: Form[EventWatch], actions: Map[String, String])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(bsinput.f) }

@action = {
	@select(eventForm("todos[0].action.id"), 
			options(actions),
			'_default -> "",
			'_label -> "What should happen if this event occurs?")
}
			
@main("Event Watch") {
	<h1>Event Watch</h1>
	@fieldsetform(action = routes.Events.save()) {
		@inputText(eventForm("event"), 
			'_label -> "What event would you like to watch?")
		@inputText(eventForm("desc"),
			'_label -> "What is the purpose of this watch?",
			'class -> "input-xxlarge")
		@action
		@select(eventForm("todos[1].action.id"), 
			options(actions),
			'_default -> "",
			'_label -> "What should happen if this event occurs?")
		<input class="btn btn-primary" type="submit" value="Create" />	
	}
}
