@(eventForm: Form[EventWatch])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(bsinput.f) }

@main("Event Watch") {
	<h1>Event Watch</h1>
	@fieldsetform(action = routes.Events.save()) {
		@inputText(eventForm("event"), 
			'_label -> "What event would you like to watch?")
		@inputText(eventForm("desc"),
			'_label -> "What is the purpose of this watch?",
			'class -> "input-xxlarge")
		@inputText(eventForm("does"),
			'_label -> "What should happen if this event does occur?")
			
		<input class="btn btn-primary" type="submit" value="Create" />	
	}
}
