@(events: List[MissingEventWatch])

@import helper._
@import helper.twitterBootstrap._
@implicitFieldConstructor = @{ FieldConstructor(bsinput.f) }

@main("Events Registered") {
	<h1>Current Missing Events</h1>
	    <h1>@events.size events(s)</h1>
    
    <ul>
        @for(e <- events) {
            <div class="hero-unit">
                Event: @e.event<br />
                Desc : @e.desc<br />
                Timing: @e.timing<br />
                Do What?: @e.doesnt<br />
                Next Run: @e.getNextRun()<br />
                
                @fieldsetform(routes.MissingEvents.delete(e.id)) {
                	<input class="btn btn-danger" type="submit" value="Delete" />
                }
            </div>
        }
    </ul>
}
